@model UndeFacemRevelionul.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>

 

    <button type="submit" class="btn btn-primary">Login</button>
</form>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Message"]
    </div>
}
