@model UndeFacemRevelionul.ViewModels.SuperstitionCompletionViewModel

<form asp-action="CompleteSuperstition" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Image">Imagine Dovadă</label>
        <input type="file" id="Image" name="Image" class="form-control" required />
    </div>

    <input type="hidden" name="SuperstitionId" value="@Model.SuperstitionId" />
    <input type="hidden" name="PartyId" value="@Model.PartyId" />

    <button type="submit" class="btn btn-primary">Marchează ca completat</button>
</form>
