@{
    ViewData["Title"] = "Partier Dashboard";
    var userName = User.Identity.Name;  // Numele utilizatorului logat
}

<h2>Welcome, @userName!</h2>

<p>Welcome to your Dashboard, where you can manage your events, view your profile, and more.</p>


