@model UndeFacemRevelionul.Models.PartyModel

<h2>Delete party</h2>

<p>Are you sure you want to delete this user?</p>
<ul>
    <li><strong>Name:</strong> @Model.Name</li>
    <li><strong>Date:</strong> @Model.Date.ToString("d")</li>
</ul>

<form asp-action="DeletePartyConfirmed" method="post" onsubmit="showLoading()">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("PartyDetails", "Partier", new { id = Model.Id })" class="btn btn-secondary">Cancel</a>
</form>
