@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 gradient-text">Welcome to your New Year's experience!</h1>
    <p>Suntem aici pentru a transforma organizarea petrecerii de Revelion într-o experiență unică, distractivă și colaborativă. Aplicația noastră este creată special pentru a ajuta grupurile de prieteni să planifice fiecare detaliu al unei seri memorabile.</a>.</p>
    <p>
        Unde facem Revelionul?” aduce la un loc toate uneltele de care aveți nevoie pentru a sărbători în stil mare.
        Împreună, planificăm momente care vor deveni amintiri de neuitat! 🥂
    </p>
</div>

<style>
    .gradient-text {
        background: linear-gradient(to right, #4b0082, #ff007f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem; 
        font-weight: bold;
    }
</style>